# Exercise 3

In [117]:
import pandas as pd
from scipy import stats
import numpy as np

### 1.

#### a) 2,3,5,4,4,3   4,2,3,5,2,3   3,1,4,4,3,5

In [118]:
DF = pd.DataFrame({'A':[2,3,5,4,4,3],'B':[4,2,3,5,2,3],'C':[3,1,4,4,3,5]})

In [119]:
print('Shapiro test on A =', stats.shapiro(DF['A']).pvalue)
print('Shapiro test on B =', stats.shapiro(DF['B']).pvalue)
print('Shapiro test on C =', stats.shapiro(DF['C']).pvalue)

Shapiro test on A = 0.8200848698616028
Shapiro test on B = 0.4206596314907074
Shapiro test on C = 0.5543804168701172

##### A,B and C are normally distributed, therefore we can use one-way ANOVA

In [120]:
stats.f_oneway(DF['A'],DF['B'],DF['C']).pvalue

0.8918065510154998

#### b) Fi,Sw,Fi,No,Sw,Fi No,Sw,No,Fi,Fi,Fi Sw,Fi,No,Sw,Sw,No

In [121]:
data1 = pd.Series(['Fi','Sw','Fi','No','Sw','Fi'])
data2 = pd.Series(['No','Sw','No','Fi','Fi','Fi'])
data3 = pd.Series(['Sw','Fi','No','Sw','Sw','No'])

In [122]:
DF = pd.DataFrame({'Data 1': data1.value_counts(),'Data 2': data2.value_counts(),'Data 3':data3.value_counts()})
DF

    Data 1  Data 2  Data 3
Fi       3       3       1
No       1       2       2
Sw       2       1       3

In [123]:
stats.chi2_contingency(DF)[1]

0.6369783501089177

### 2.

#### a.) Article 4 Fig. 3(j) quantitative variable - Unpaird Kruskal-Wallis test

#### b.) 
x-axis 0 number of covid-19 tests, log-transformed
y-axis

### 3.

In [124]:
DF = pd.read_csv('simulated_data_2_5.csv')
print('F = ',stats.shapiro(DF['F']))
print('G = ',stats.shapiro(DF['G']))
print('H = ',stats.shapiro(DF['H']))
print('I = ',stats.shapiro(DF['I']))

F =  ShapiroResult(statistic=0.981221079826355, pvalue=0.16530661284923553)
G =  ShapiroResult(statistic=0.9873127937316895, pvalue=0.4589977264404297)
H =  ShapiroResult(statistic=0.9940239787101746, pvalue=0.9414567351341248)
I =  ShapiroResult(statistic=0.9525562524795532, pvalue=0.0012272947933524847)

#### a) to compare columns F, G and H.

In [125]:
stats.f_oneway(DF['F'],DF['G'],DF['H'])

F_onewayResult(statistic=3.2466738735457517, pvalue=0.040288402932985905)

#### b) to compare columns F, G and I.

In [126]:
stats.kruskal(DF['F'],DF['G'],DF['I'])

KruskalResult(statistic=36.478331163305846, pvalue=1.1990327166649803e-08)

4.

### 5.

In [127]:
columns = ['Surgery','Age','Hospital_Number','Rectal_temperature','Pulse','Respiratory_rate','Temperature_of_extremities','Peripheral_pulse','Mucous_membranes','Capillary_refill_time','Pain','Peristalsis','Abdominal_distension','Nasogastric_tube','Nasogastric_reflux','Nasogastric_reflux_PH','Rectal_examination_feces','Abdomen','Packed_cell_volume','Total_protein','Abdominocentesis_appearance','Abdomcentesis_total_protein','Outcome','Surgical_lesion','type_of_lesion_1','type_of_lesion_2','type_of_lesion_3','cp_data']

In [128]:

df = pd.read_csv('horse-colic.data.csv', delim_whitespace=True, header=None, names=columns).replace("?", np.NaN)
df

,Surgery,Age,Hospital_Number,Rectal_temperature,Pulse,Respiratory_rate,Temperature_of_extremities,Peripheral_pulse,Mucous_membranes,Capillary_refill_time,...,Packed_cell_volume,Total_protein,Abdominocentesis_appearance,Abdomcentesis_total_protein,Outcome,Surgical_lesion,type_of_lesion_1,type_of_lesion_2,type_of_lesion_3,cp_data
0,2,1,530101,38.50,66,28,3,3,NaN,2,...,45.00,8.40,NaN,NaN,2,2,11300,0,0,2
1,1,1,534817,39.2,88,20,NaN,NaN,4,1,...,50,85,2,2,3,2,2208,0,0,2
2,2,1,530334,38.30,40,24,1,1,3,1,...,33.00,6.70,NaN,NaN,1,2,0,0,0,1
3,1,9,5290409,39.10,164,84,4,1,6,2,...,48.00,7.20,3,5.30,2,1,2208,0,0,1
4,2,1,530255,37.30,104,35,NaN,NaN,6,2,...,74.00,7.40,NaN,NaN,2,2,4300,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,1,1,533886,NaN,120,70,4,NaN,4,2,...,55,65,NaN,NaN,3,2,3205,0,0,2
296,2,1,527702,37.20,72,24,3,2,4,2,...,44.00,NaN,3,3.30,3,1,2208,0,0,1
297,1,1,529386,37.50,72,30,4,3,4,1,...,60.00,6.80,NaN,NaN,2,1,3205,0,0,2
298,1,1,530612,36.50,100,24,3,3,3,1,...,50.00,6.00,3,3.40,1,1,2208,0,0,1
299,1,1,534618,37.2,40,20,NaN,NaN,NaN,NaN,...,36,62,1,1,3,2,6112,0,0,2

In [129]:
data = df[['Surgery','Age','Rectal_temperature','Pulse']]
data.head(10)

  Surgery  Age Rectal_temperature Pulse
0       2    1              38.50    66
1       1    1               39.2    88
2       2    1              38.30    40
3       1    9              39.10   164
4       2    1              37.30   104
5       2    1                NaN   NaN
6       1    1              37.90    48
7       1    1                NaN    60
8       2    1                NaN    80
9       2    9              38.30    90

In [130]:
data = data.dropna() # removing rows with NaN

#### a.) Comparision of mean of Rectal temp (with and without surgery)

In [131]:
# 1. Filter horses that undergo surgery [i.e. where surgery = 1]
# 2. Select column rectal temp
# 3. Convert data type tp float as data has string type [so that we can perform arithmetic operations]
rectal_temp_with_surgery = data.loc[(data['Surgery'] == '1')]['Rectal_temperature'].astype(float)

# 1. Filter horses that didn't undergo any surgery [i.e. where surgery = 2]
# 2. Select column rectal temp
# 3. Convert data type tp float as data has string type [so that we can perform arithmetic operations]
rectal_temp_without_surgery = data.loc[(data['Surgery'] == '2')]['Rectal_temperature'].astype(float)

In [132]:
print(stats.shapiro(rectal_temp_with_surgery))
print(stats.shapiro(rectal_temp_without_surgery))

ShapiroResult(statistic=0.9693214297294617, pvalue=0.00383964111097157)
ShapiroResult(statistic=0.9708417057991028, pvalue=0.0281001478433609)

##### data is not normally distributed and data is also independent, therefore we can use Mann–Whitney U test

In [133]:
print(stats.mannwhitneyu(rectal_temp_with_surgery,rectal_temp_without_surgery))

MannwhitneyuResult(statistic=6242.0, pvalue=0.46257320393656)

#### b.) Comparision of mean of age (with and without surgery)

In [134]:
# 1. Select surgery and age columns
# 2. Create cross table
surgery_category = data['Surgery']
age_category = data['Age']

In [135]:
cross_table = pd.crosstab(surgery_category,age_category)

In [136]:
cross_table

Age        1   9
Surgery
1        120  15
2         93   5

In [137]:
statistics, pValue, dof, expected = stats.chi2_contingency(cross_table)
pValue

0.16771971654705192

#### c.) Comparision of mean of pulse (with and without surgery)

In [143]:
pulse_with_surgery = data.loc[data['Surgery'] == '1']['Pulse'].astype(int)
pulse_without_surgery = data.loc[data['Surgery'] == '2']['Pulse'].astype(int)

In [144]:
print(stats.shapiro(pulse_with_surgery))
print(stats.shapiro(pulse_without_surgery))

ShapiroResult(statistic=0.9187045693397522, pvalue=5.782764560535725e-07)
ShapiroResult(statistic=0.8408653736114502, pvalue=7.143510227791694e-09)

##### data is normally distributed and is independent, therefore we should use unpaired t-test

In [145]:
print(stats.ttest_ind(pulse_with_surgery,pulse_without_surgery))

Ttest_indResult(statistic=3.202767739916224, pvalue=0.0015528103149044417)